@font-face {
    font-family: "Agbalumo";
    src: url("fonts/Agbalumo-Regular.ttf");
}

@font-face {
    font-family: "VinaSans";
    src: url("fonts/VinaSans-Regular.ttf");
}

@font-face {
    font-family: "KdamThmor";
    src: url("fonts/KdamThmorPro-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    /* font-family: "KdamThmor", sans-serif; */
}

body {
    /*background-image: linear-gradient(goes down, rgb(130, 128, 223) , rgb(207, 82, 207));*/
    text-align: center;
    background: rgb(130, 128, 223);
    background: radial-gradient(circle, rgba(130, 128, 223,1) 0%, rgba(207, 82, 207,1) 100%);
}

header {
    text-align: center;
    font-family: "KdamThmor", sans-serif; /* sans-serif fallback */
    padding: 25px 0 0 0;
    background-color: black;
    color: white;
}
/*TODO: need to center the text area and label*/
#text7 {
    display: none;
    text-align: center;
}

#text7-label {
    display: none;
    text-align: left;
}

form {
    margin: 100px;
    padding: 55px;
    width: 500px;
    height: 500px;
    background-color: white;
    opacity: 80%;
    border-radius: 15px; /* nice rounded corners */
    display: inline-block;
    font-family: monospace;
}

/*
form.outset {
    border-style: outset;
}
*/

.inputs {
    margin: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px; /* nice rounded corners */
    background-color: white;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /*cool shadow effect*/
}

/*
label {
    float: left;
}
*/

#textResult {
    background-color: white;
    margin: 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px; /* nice rounded corners */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /*cool shadow effect*/
}

.button {
    background-color: rgb(130, 128, 223);
    color: black;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin: 10px;
    width: 100%;
    font-family: "KdamThmor";
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: rgb(207, 82, 207);
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    padding: 15px 35px 10px 0;
    font-family: "KdamThmor";
  }